{% extends 'base.html.twig' %}

{% block title %}Create Article{% endblock %}

{% block body %}
    <h1>Create article</h1>

    {{ form_start(articleForm) }}
    {{ form_row(articleForm.title) }}
    {{ form_row(articleForm.content) }}

    <button type="submit" class="btn">Create</button>
    {{ form_end(articleForm) }}
{% endblock %}